
.default-color0.chart-series-area-line { -fx-stroke: #70bd99; }
.default-color1.chart-series-area-line { -fx-stroke: #e13a44; }
.default-color2.chart-series-area-line { -fx-stroke: #ffc557; }

.default-color0.chart-series-area-fill { -fx-fill: #70bd99; }
.default-color1.chart-series-area-fill { -fx-fill: #e13a44; }
.default-color2.chart-series-area-fill { -fx-fill: #ffc557; }

.button {
    -fx-text-fill: #256464;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: bold;
    -fx-background-color: #ffdb87;
}

.tooltip {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font: 13px Tahoma;
}

.pane {
    display: flex;
}
.menu .label
{
    -fx-text-fill: #256464;
}

.menu {
 -fx-text-fill: #256464;
      -fx-background-color: #ffdb87;
}

.jfx-text-field .label
{
    -fx-text-inner-color: #256464;
    -fx-background-color: #ffdb87;
}

.labelSick1 {
-fx-text-fill: #ffffff;
}
