
.default-color0.chart-series-area-line { -fx-stroke: #70e000; }
.default-color1.chart-series-area-line { -fx-stroke: #DC143C; }
.default-color2.chart-series-area-line { -fx-stroke: #ffd22f; }

.default-color0.chart-series-area-fill { -fx-fill: #70e000; }
.default-color1.chart-series-area-fill { -fx-fill: #DC143C; }
.default-color2.chart-series-area-fill { -fx-fill: #ffd22f; }

.button {
    -fx-text-fill: white;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: bold;
    -fx-background-color: #ffdb87;
}

.tooltip {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font: 13px Tahoma;
}

.pane {
    display: flex;
}
.menu .label
{
    -fx-text-fill: white;
}

.menu {
}

.jfx-text-field .label
{
    -fx-text-inner-color: white;
}